@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .ciggratte {
    transform-style: preserve-3d;
    animation: animate 15s linear infinite;
}
@keyframes animate {
    0% {
        transform: perspective(1000px) rotateX(0);
    }
    100% {
        transform: perspective(1000px) rotateX(360deg);
    }
}
.container .ciggratte span{
    position: absolute;
    color: #fff;
    font-size: 1.35em;
    font-weight: 800;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotateX(calc(var(--i) * 36deg)) translateZ(25px);
    line-height: 0.76em;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.25);
}
.container .ciggratte span i{
    font-style: normal;
    color: #ec9535;
}
.container .ciggratte span i:first-child::after {
    content: "l";
    color: #ccc;
    text-transform: lowercase;
}
.container .ciggratte span i:last-child {
    color: #f00;
    filter: blur(2px);
    text-shadow: -4px 0 2px #000,
                  8px 0 20px #f00,
                  8px 0 24px #f00,
                  8px 0 0 #222,
                  12px 0 #555,
                  16px 0 #666,
                  20px 0 #888;
}